In [11]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_json('data/Video_Games.json', lines=True)
df.head()

,overall,verified,reviewTime,reviewerID,asin,reviewerName,reviewText,summary,unixReviewTime,vote,style,image
0,1,True,"06 9, 2014",A21ROB4YDOZA5P,0439381673,Mary M. Clark,I used to play this game years ago and loved i...,Did not like this,1402272000,NaN,NaN,NaN
1,3,True,"05 10, 2014",A3TNZ2Q5E7HTHD,0439381673,Sarabatya,The game itself worked great but the story lin...,Almost Perfect,1399680000,NaN,NaN,NaN
2,4,True,"02 7, 2014",A1OKRM3QFEATQO,0439381673,Amazon Customer,I had to learn the hard way after ordering thi...,DOES NOT WORK WITH MAC OS unless it is 10.3 or...,1391731200,15,NaN,NaN
3,1,True,"02 7, 2014",A2XO1JFCNEYV3T,0439381673,ColoradoPartyof5,The product description should state this clea...,does not work on Mac OSX,1391731200,11,NaN,NaN
4,4,True,"01 16, 2014",A19WLPIRHD15TH,0439381673,Karen Robinson,I would recommend this learning game for anyon...,Roughing it,1389830400,NaN,NaN,NaN

In [5]:
df['overall'].value_counts()

overall
5    1487366
4     412413
1     311891
3     212346
2     141333
Name: count, dtype: int64

In [6]:
# restricit to the 500 most active users
user_counts = df['reviewerID'].value_counts()
top_users = user_counts.head(500)
top_users = top_users.index
df = df[df['reviewerID'].isin(top_users)]

In [8]:
pivot_table = df.pivot_table(index='asin', columns='reviewerID', values='overall')
pivot_table.head()

reviewerID,A103KKI1Y4TFNQ,A10L7QIDE9UF11,A10UUYDN5NY2GB,A114TMHW9GRMPB,A119Q9NFGVOEJZ,A11I47RIQXL2MD,A11LS12ZU93SV6,A11V6ZJ2FVQY1D,A128WX1VPYJTUU,A12E0Y0J6584RT,...,AWFDFLR1DA23A,AWG2O9C42XW5G,AWRVH8TGVBJVX,AX8SWWB9837TA,AY3Y9ROK6LRPI,AYFXX888CUGA0,AYQIQLTJMPHF1,AYXFNO4OPWKBH,AZ9JWGE1UGKZA,AZAC7B4HD5ZVC
asin,,,,,,,,,,,,,,,,,,,,,
0700026398,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0700026657,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0700099867,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0758534531,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0804161380,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Há muitos usuários que não fizeram review dos mesmos jogos. Vamos considerar como 0.

In [9]:
pivot_table.fillna(0, inplace=True)
pivot_table.head()

reviewerID,A103KKI1Y4TFNQ,A10L7QIDE9UF11,A10UUYDN5NY2GB,A114TMHW9GRMPB,A119Q9NFGVOEJZ,A11I47RIQXL2MD,A11LS12ZU93SV6,A11V6ZJ2FVQY1D,A128WX1VPYJTUU,A12E0Y0J6584RT,...,AWFDFLR1DA23A,AWG2O9C42XW5G,AWRVH8TGVBJVX,AX8SWWB9837TA,AY3Y9ROK6LRPI,AYFXX888CUGA0,AYQIQLTJMPHF1,AYXFNO4OPWKBH,AZ9JWGE1UGKZA,AZAC7B4HD5ZVC
asin,,,,,,,,,,,,,,,,,,,,,
0700026398,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
0700026657,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
0700099867,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
0758534531,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
0804161380,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [18]:
# count zeroes
((pivot_table == 0).sum()).sum()

np.int64(8167081)

In [20]:
pivot_table.shape[0] * pivot_table.shape[1]

8209500

In [21]:
8167081 / 8209500

0.9948329374505146

Vamos gerar um dataset então.